<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <mappers>
        <mapper resource="user/mybatis/AcademicExchangeMapper.xml"/>
        <mapper resource="user/mybatis/AdministratorsMapper.xml"/>
        <mapper resource="user/mybatis/AssistantAssessmentMapper.xml"/>
        <mapper resource="user/mybatis/AssistantChoseMapper.xml"/>
        <mapper resource="user/mybatis/CategoryMapper.xml"/>
        <mapper resource="user/mybatis/Course.xml"/>
        <mapper resource="user/mybatis/DirectorMapper.xml"/>
        <mapper resource="user/mybatis/InstructorMapper.xml"/>
        <mapper resource="user/mybatis/ParticipateProjectMapper.xml"/>
        <mapper resource="user/mybatis/PostgraduateMappers.xml"/>
        <mapper resource="user/mybatis/PostgraduateParticipateMappers.xml"/>
        <mapper resource="user/mybatis/ProjectMappers.xml"/>
        <mapper resource="user/mybatis/SelectionMappers.xml"/>
        <mapper resource="user/mybatis/SubjectMappers.xml"/>
        <mapper resource="user/mybatis/TeacherMappers.xml"/>
        <mapper resource="user/mybatis/TeacherSubjectMappers.xml"/>
        <mapper resource="user/mybatis/TeachMappers.xml"/>
        <mapper resource="user/mybatis/TutorMappers.xml"/>
        <mapper resource="user/mybatis/UsercategoryMappers.xml"/>
        <mapper resource="user/mybatis/UserMappers.xml"/>
    </mappers>
</configuration>
