<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user.mapper.PostgraduateParticipateProjectMapper">
	<resultMap id="BaseResultMap" type="user.entity.PostgraduateParticipateProject">
            <result column="postgraduate_id" property="postgraduateId" />
	        <result column="participate_project_id" property="participateProjectId" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.postgraduate_id
        , t.participate_project_id
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM dbo.postgraduate_participate_project t
	</select>
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="String">
		SELECT         
        	<include refid="baseColumns" />
		FROM dbo.postgraduate_participate_project t
		WHERE postgraduate_id = #{postgraduateId}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="user.entity.PostgraduateParticipateProject"
		keyProperty="postgraduateId" keyColumn="postgraduate_id" useGeneratedKeys="true"
    >
	INSERT INTO dbo.postgraduate_participate_project
    <trim prefix="(" suffix=")" suffixOverrides=",">	 
        	    	postgraduate_id,
    	        	    	participate_project_id,
    	        </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	        #{postgraduateId},                   
    	        	        #{participateProjectId},                   
    	        </trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="user.entity.PostgraduateParticipateProject"
        keyProperty="postgraduateId" keyColumn="postgraduate_id" useGeneratedKeys="true"
        >
        INSERT INTO dbo.postgraduate_participate_project    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 

                                                <if test="postgraduateId != null">
                   postgraduate_id,
                    </if>
                                                                <if test="participateProjectId != null">
                   participate_project_id,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                <if test="postgraduateId != null" >
                    #{postgraduateId},                    
                    </if>
                                                                <if test="participateProjectId != null" >
                    #{participateProjectId},                    
                    </if>
                                    </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="user.entity.PostgraduateParticipateProject">
    UPDATE dbo.postgraduate_participate_project
     <set>		
                                      </set>	
    WHERE postgraduate_id = #{postgraduateId}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="user.entity.PostgraduateParticipateProject">
    UPDATE dbo.postgraduate_participate_project
    <set>
    	                                            </set>
    WHERE postgraduate_id = #{postgraduateId}
    </update>

		
	<!-- 根据主键删除记录 -->
	<delete id="delete" parameterType="user.entity.PostgraduateParticipateProject">
		UPDATE dbo.postgraduate_participate_project
		SET is_deleted=1
		WHERE postgraduate_id = #{postgraduateId}
	</delete>


</mapper>