<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user.dao.UsercategoryMapper">
	<resultMap id="BaseResultMap" type="user.entity.Usercategory">
            <result column="usercategory_id" property="usercategoryId" />
	        <result column="usercategory_name" property="usercategoryName" />
	        <result column="now_id" property="nowId" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.usercategory_id
        , t.usercategory_name
        , t.now_id
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM dbo.usercategory t
	</select>
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="String">
		SELECT         
        	<include refid="baseColumns" />
		FROM dbo.usercategory t
		WHERE usercategory_id = #{usercategoryId}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="user.entity.Usercategory"
		keyProperty="usercategoryId" keyColumn="usercategory_id" useGeneratedKeys="true"
    >
	INSERT INTO dbo.usercategory
    <trim prefix="(" suffix=")" suffixOverrides=",">	 
        	    	usercategory_id,
    	        	    	usercategory_name,
    	        	    	now_id,
    	        </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	        #{usercategoryId},                   
    	        	        #{usercategoryName},                   
    	        	        #{nowId},                   
    	        </trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="user.entity.Usercategory"
        keyProperty="usercategoryId" keyColumn="usercategory_id" useGeneratedKeys="true"
        >
        INSERT INTO dbo.usercategory    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 

                                                <if test="usercategoryId != null">
                   usercategory_id,
                    </if>
                                                                <if test="usercategoryName != null">
                   usercategory_name,
                    </if>
                                                                <if test="nowId != null">
                   now_id,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                <if test="usercategoryId != null" >
                    #{usercategoryId},                    
                    </if>
                                                                <if test="usercategoryName != null" >
                    #{usercategoryName},                    
                    </if>
                                                                <if test="nowId != null" >
                    #{nowId},                    
                    </if>
                                    </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="user.entity.Usercategory">
    UPDATE dbo.usercategory
     <set>		
                                     usercategory_name=#{usercategoryName},        
                                now_id=#{nowId},        
                   </set>	
    WHERE usercategory_id = #{usercategoryId}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="user.entity.Usercategory">
    UPDATE dbo.usercategory
    <set>
    	                                                <if test="usercategoryName != null" >
                usercategory_name=#{usercategoryName},                 
                </if>
                                                <if test="nowId != null" >
                now_id=#{nowId},                 
                </if>
                        </set>
    WHERE usercategory_id = #{usercategoryId}
    </update>

		
	<!-- 根据主键删除记录 -->
	<delete id="delete" parameterType="user.entity.Usercategory">
		UPDATE dbo.usercategory
		SET is_deleted=1
		WHERE usercategory_id = #{usercategoryId}
	</delete>


</mapper>