<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <mappers>
        <mapper resource="database/mapper/CategoryDao.xml"/>
        <mapper resource="database/mapper/CourseDao.xml"/>
        <mapper resource="database/mapper/PostgraduateDao.xml"/>
        <mapper resource="database/mapper/TeacherDao.xml"/>
        <mapper resource="database/mapper/UsercategoryDao.xml"/>
        <mapper resource="database/mapper/UserDao.xml"/>
    </mappers>
</configuration>
