<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:http="http://www.springframework.org/schema/c" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

        <!-- 启用spring mvc 注解 -->
        <context:annotation-config />

                <!-- 设置使用注解的类所在的jar包 -->
        <context:component-scan base-package="database.dao"/>
        <context:component-scan base-package="database.entity"/>
        <context:component-scan base-package="database.mapper"/>

                <!-- 完成请求和注解POJO的映射 -->
        <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />

                <!-- 对转向页面的路径解析。prefix：， suffix： -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/jsp/" p:suffix=".jsp" />
                <context:annotation-config />
        <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
                <property name="url" value="jdbc:sqlserver://localhost:1433;database=database_english"/>
                <property name="username" value="database"/>
                <property name="password" value="123456"/>
        </bean>
                <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
                        <property name="configLocation" value="classpath:database/mybatis-config.xml"/>
                        <property name="dataSource" ref="dataSource"/>
                        <!-- <property name="mapperLocations" value="detailed/Userinfo.xml"/> -->
                </bean>
                <!--Mapper代理开发，使用Spring自动扫描MyBatis的接口并装配
                 （Spring将指定包中所有被@Mapper注解标注的接口自动装配为MyBatis的映射接口）  -->
                <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
                        <!-- mybatis-spring组件的扫描器 -->
                        <property name="basePackage" value="database.dao"/>
                        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
                </bean>
</beans>